.intro {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background: url("https://i.ibb.co/XXVhvfJ/intropic.jpg");
    background-color: royalblue;
    background-repeat: no-repeat;
    background-size: cover;
}

.introInfo {
    padding-top: 5vh;
}

.name {
    font-size: 100px;
    padding-bottom: 22vh;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.links {
    margin-right: 10px;
}

.icons {
    margin-right: 5px;
}

i {
    font-size: 20px;
}

